.checkbox {
  border: none;
  padding: 0;
}

.checkbox__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 22px;
}

.checkbox__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.checkbox__item {
  display: flex;

  &:hover .checkbox__control .checkbox__input:not(:disabled):not(:checked) ~ .checkbox__slider {
    border: 2px solid $color-primary-light;
    background-color: $color-primary-opacity;
  }
}

.checkbox__item:not(:last-child) {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.checkbox__control {
  display: block;
  cursor: pointer;
  position: relative;
  min-width: 200px;
  padding-left: 52px;
}

.checkbox__input {
  display: none;

  &:disabled {
    & ~ .checkbox__slider {
      background-color: $color-grey-light;
      border: 2px solid $color-grey-light;
    }

    & ~ .checkbox__slider .checkbox__knob {
      background-color: $color-grey;
    }
  }

  &:disabled:not(:checked) ~ .checkbox__slider .checkbox__knob {
    background-color: $color-grey-lightest;
  }
}

.checkbox__input:not(:disabled):checked + .checkbox__slider {
  background-color: $color-primary;
  border: 2px solid $color-primary;
}

.checkbox__slider {
  background-color: $color-grey;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 42px;
  height: 24px;
  transition: all 300ms ease;
  margin-right: 10px;
  border: 2px solid $color-grey;
}

.checkbox__knob {
  position: absolute;
  transition: all 300ms ease;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 2px;
  top: 0;
  background-color: $color-white;
}

.checkbox__input:checked + .checkbox__slider .checkbox__knob {
  left: calc(100% - 19px - 3px);
}
