.copyright {
  padding: 17px 40px 30px 58px;

  @media (min-width: $tablet-width) {
    padding: 19px 55px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 55px 40px;
  }
}

.copyright__text {
  margin: 0;
  color: $color-grey;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.copyright__link {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;

  &:hover,
  &:focus-visible {
    color: $color-primary;
  }

  &:hover .copyright__logo,
  &:focus-visible .copyright__logo {
    fill: $color-primary;
  }

  &:active {
    color: $color-primary-dark;
  }

  &:active .copyright__logo {
    fill: $color-primary-dark;
  }
}

.copyright__logo {
  fill: $color-grey;
}
