.features__wrapper {
  padding: 55px 20px 60px 20px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 58px 30px 67px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 40px 85px 40px;
  }
}

.features__remark {
  @include violet-title;

  margin: 0;
  margin-bottom: 4px;
}

.features__title {
  margin: 0;
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    column-gap: 30px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.features__item {
  padding-top: 66px;
  position: relative;

  &::before {
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    content: "";
    width: 52px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--time::before {
    background-image: url("/img/features-time.svg");
  }

  &--easement::before {
    background-image: url("/img/features-easement.svg");
  }

  &--energy::before {
    background-image: url("/img/features-energy.svg");
  }

  &--ecology::before {
    background-image: url("/img/features-ecology.svg");
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 72px;
    text-align: left;

    &::before {
      transform: none;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 76px;
    text-align: center;

    &::before {
      transform: translateX(-50%);
      left: 50%;
    }
  }
}

.features__item:not(:last-child) {
  margin-bottom: 32px;
}

.features__subtitle {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.features__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
