.main-footer__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    padding: 40px;
    padding-bottom: 0;
    padding-right: 10px;
    column-gap: 30px;
  }
}

.main-footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $color-primary;
  margin: 0;
  margin-bottom: 20px;

  &--contacts {
    margin-bottom: 20px;
  }
}

.main-footer__navigation-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: auto;
    padding: 0;
    padding-top: 8px;
    column-gap: 30px;
  }
}

.main-footer__navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-footer__navigation-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  &--contacts {
    padding-left: 19px;
    position: relative;
  }
}

.main-footer__navigation-item:not(:last-child) {
  margin-bottom: 4px;
}

.main-footer__container {
  border-bottom: 1px solid $color-secondary;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
  }
}

.main-footer__navigation {
  padding: 20px;
  padding-bottom: 13px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 222px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: auto;
  }
}

.main-footer__media-navigation {
  padding: 20px;
  padding-bottom: 13px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 222px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: auto;
  }
}

.main-footer__contacts {
  padding: 20px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 222px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
  }
}

.main-footer__copyright {
  width: 320px;
  margin: 0 auto;
}

.main-footer__navigation-link {
  text-decoration: none;
  color: $color-black;
  display: block;
  min-height: 32px;

  &:hover,
  &:focus-visible {
    color: $color-primary-light;
  }

  &:active {
    color: $color-primary-dark;
  }
}

.main-footer__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  font-style: normal;
  margin-bottom: 16px;

  &::before {
    position: absolute;
    content: url("/img/address.svg");

    left: 0;
  }
}

.main-footer__phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: $color-black;

  &::before {
    position: absolute;
    content: url("/img/phone.svg");

    left: 0;
  }
}
