.map {
  background-color: $color-grey-lightest;
}

.map__wrapper {
  width: 100%;
  min-height: 420px;

  @media (min-width: $tablet-width) {
    min-height: 480px;
  }

  @media (min-width: $desktop-width) {
    min-height: 540px;
  }
}

.map__image {
  display: block;
  width: 320px;
  min-height: 420px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 480px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    min-height: 540px;
  }

  &--hidden {
    display: none;
  }
}
