.page {
  height: 100%;
  overflow-x: hidden;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  grid-template-columns: 100%;
  font-family: $font-montserrat;
}
