.sorting {
  display: flex;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 23px;
  padding-left: 3px;

  @media (min-width: $tablet-width) {
    margin: 0 0 30px auto;
  }
}

.sorting__title {
  margin-right: 18px;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.sorting__select {
  color: $color-primary;
  font-family: $font-montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  width: 165px;
  background-color: inherit;
  appearance: none;
  background-image: url("/img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
}
