/* Colors */
$color-white: #ffffff;
$color-black: #333333;
$color-grey: #bdbdbd;
$color-primary: #7859cf;
$color-primary-opacity: rgba(120, 89, 207, 0.25);
$color-secondary: #f0ebff;
$color-primary-light: #9070ec;
$color-primary-dark: #593cac;
$color-grey-light: #e2e2e2;
$color-grey-lightest: #f8f8f8;
$color-flat-background: #f3ebe1;
$color-latte-background: #eae6fc;
$color-espresso-background: #e5e6e8;

/* Fonts */
$font-montserrat: "Montserrat", "Arial", sans-serif;

/* Viewports */
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767.9px;
