/* Colors */
$color-white: #FFFFFF;
$color-black: #333333;
$color-grey: #BDBDBD;
$color-primary: #7859CF;
$color-secondary: #F0EBFF;
$color-primary-light: #9070EC;
$color-primary-dark: #593CAC;
$color-grey-light: #E2E2E2;
$color-grey-lightest: #F8F8F8;
$color-flat-background: #F3EBE1;
$color-latte-background: #EAE6FC;
$color-espresso-background: #E5E6E8;

/* Fonts */
$font-montserrat: "Montserrat", "Arial", sans-serif;

/* Viewports */
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767.9px;
